body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #333;
}

header {
  background-color: #006400; /* verde oscuro */
  color: white;
  padding: 30px;
  text-align: center;
}

nav {
  background-color: #00a000; /* verde brillante */
  padding: 15px;
  text-align: center;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #f0f0f0;
}

main, section {
  padding: 30px;
}

footer {
  background-color: #006400;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
